/* Estilos responsive para asignación de prospectos */

/* Estilo para pantallas pequeñas */
@media (max-width: 767px) {
  .dataTables_wrapper .dataTables_filter {
    float: none !important;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .dataTables_wrapper .dataTables_length {
    float: none !important;
  }
  
  .dataTables_wrapper .dataTables_info {
    float: none !important;
    text-align: center;
    margin-bottom: 5px;
  }
  
  /* Quitar nowrap en móviles */
  .table.dataTable {
    white-space: normal !important;
  }
  
  .dataTables_wrapper .dataTables_paginate {
    float: none !important;
    text-align: center;
  }
  
  .dtsp-panes-container {
    display: none !important;
  }
}

/* Estilo para pantallas grandes */
@media (min-width: 768px) {
  .table.dataTable {
    white-space: nowrap !important;
  }
  
  .dataTables_wrapper .dataTables_filter {
    float: right !important;
  }
  
  .dataTables_wrapper .dataTables_length {
    float: left !important;
  }
  
  .dataTables_wrapper .dataTables_info {
    float: left !important;
  }
  
  .dataTables_wrapper .dataTables_paginate {
    float: right !important;
  }
}